body{
  background-color: #031e39;
  font-family: "Poppins", sans-serif;
  color: white;
  overflow-x: hidden;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#logo {
  width: 200px;
  margin-left: -75%;
  position: absolute;
}

#myheader {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: larger;
}

#download-btn {
  float: right;
  height: 20%;
  width: 15%;
  margin-left: 90%;
  margin-top: 15px;
  border: none;
  box-shadow: none;
  border-radius: 5px;
  background-color: rgba(3, 148, 252, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: white;
}

#download-btn:hover{
  background-color: rgba(3, 148, 252, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgb(3, 148, 252);
  cursor: pointer;
}

#background-image {
  width: 60%;
  height: 20%;
  border-radius: 25px;
  margin: 5% 20% 5% ;
}

#web {
  font-size: 8vw;
  position: absolute;
  margin: 15% 0 0 30%;
  font-weight: bold;
  color: rgb(6, 124, 198);
  font-family: Arial, Helvetica, sans-serif;
}

#dev {
  font-size: 8vw;
  position: absolute;
  margin: 23% 0 0 40%;
  font-weight: bold;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#bio {
  width: 12%;
  height: 20%;
  margin: 4% 0 0 81%;
  border-radius: 10px;
  position: absolute;
  color: #b2b2b2;
  font-size: 1vw;
}

#year {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin: -10% 0 0 80%;
  color: rgb(255, 68, 0);
  font-size: 1vw;
  cursor:default;
}

#me {
  height: auto;
  width: 10%;
  margin-top: 10%;
  margin-left: -1%;
  position: absolute;
}

.me-div{
  height: 20%;
  width: 10%;
}



h1 {
  font-size: 5vw;
  font-weight: bolder;
  color: rgb(6, 124, 198);
  font-family: Arial, Helvetica, sans-serif;
}

#about {
  display: flex;
  background-image: url(secbg.png);
  background-size: cover;
  padding: 12% 5% 0 2%;
  margin: 0 -10px 0 -10px;
  width: 100%;
}

.leftdiv {
  width: 700px;
  height: 350px;
  border: none;
  margin: 0;
  border-radius: 10px;
  padding: 5px 100px 100px 100px;
  color: black;
  font-size: 1vw;
}


.leftdiv h1{
  font-size: 5vw;
  font-weight: bolder;
  background-clip: text;
  -webkit-background-clip: text;
  font-family: Arial, Helvetica, sans-serif;
  }

.leftdiv p {
  font-size: 15px;
  color: black;
  padding: 0px;
  font-size: 1vw;
}

#hirebtn {
  
  height: 30px;
  width: 100px;
  margin-top: 15px;
  border: none;
  box-shadow: none;
  border-radius: 5px;
  background-color: rgba(3, 148, 252, 0.846);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: black;
}

#hirebtn:hover {
  background-color: rgba(3, 148, 252, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgb(3, 148, 252);
  cursor: pointer;
}

.rightdiv {
  width: 600px;
  height: 420px;
  border: none;
  justify-content: center;
  
  padding:10px 20px 20px 20px;
  display: flex;
}

.rightdiv h1 {
  position: absolute;
  font-size: 50px;
  font-weight: bolder;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.box {
  width: 250px;
  height: 250px;
  margin-top: 170px;
  margin-left: 50px;
  transform-style: preserve-3d;
  transform: rotateY(30deg);
  animation: animate 5s infinite;
}

@keyframes animate {
  0% {
    transform: rotateX(45deg) rotateY(-45deg);
  }
  25% {
    transform: rotateX(-45deg) rotateY(-45deg);
  }
  50% {
    transform: rotateX(45deg) rotateY(45deg);
  }
  75% {
    transform: rotateX(-45deg) rotateY(45deg);
  }
  100% {
    transform: rotateX(45deg) rotateY(-45deg);
  }
}

.card {
  height: 200px;
  width: 200px;
  text-align: center;
  padding: 100px 0px;
  color: rgba(224, 223, 223, 0.858);
  background-color: rgba(3, 148, 252, 0.568);
  border: 1px solid rgba(117, 115, 115, 0.858);
  font-size: 32px;
  box-sizing: border-box;
  position: absolute;
  border-radius: 8px;
}

.card img{
  height: 50px;
  width: 50px;
}

#front {
  transform: translateZ(100px);
}

#back {
  transform: translateZ(-100px);
}

#left {
  right: 150px;
  transform: rotateY(90deg);
}

#right {
  left: 100px;
  transform: rotateY(-90deg);
}

#top {
  bottom: 150px;
  transform: rotateX(-90deg);
}

#bottom {
  top: 100px;
  transform: rotateX(90deg);
}

#sphere {
  border-radius: 100px;
  width: 30%;
  height: 30%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 250px;
  margin-top: 320px;
  position: absolute;
  background-color: rgba(3, 148, 252, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: #000;
  font-weight: bolder;
  font-size: x-large;
}

#projects {
  display: flex;
  padding: 12% 5% 10% 5%;
  background-color: 031e39;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.projectsleftdiv {
  width: 50%;
  height: auto;
  padding: 3%;
  background-color: rgba(3, 148, 252, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  display: flex;
  border: 1px solid rgb(6, 124, 198);
  margin: 0;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.projectsleftdiv img{
  width: 95%;
  height: auto;
  border-radius: 10px;
  padding: 0 auto;
}

.projectsrightdiv h1{
  color: white;
  font-size: 3em;
}
.projectsrightdiv {
  width: 90%;
  height: 15%;
  border: none;
  color: #000;
  margin: 3% 10% 0 0;
  border-radius: 10px;
  padding: 1% 5% 1% 60%;
  background-color: rgba(139, 205, 252, 0.462); 
  font-size: 1vw;
}

.projectsrightdiv p{
  font-size: 1em;
}

.btnctn {
  display: flex;
  padding-top: 15%;
  margin-bottom: -12%;
}
#demobtn {
  height: 30px;
  width: 100px;

  margin: 0px 15px 15px 0px;
  border: none;
  box-shadow: none;
  border-radius: 5px;
  background-color: rgb(3, 148, 252);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: white;
}

.stkctn {
  display: flex;
  justify-content: flex-start;
  width: 50%;
}

.ts{
  padding: 1%;
  color: white;
}

.ts img{
   width:50%;
   height: 50%;
}



#codebtn {
  height: 30px;
  width: 100px;

  margin-top: 0px;
  border: none;
  box-shadow: none;
  border-radius: 5px;
  background-color: rgb(3, 148, 252);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: white;
}

#demobtn:hover, #codebtn:hover{
  background-color: rgba(3, 148, 252, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgb(3, 148, 252);
  cursor: pointer;
  transition: ease-in 0.2s;
}

#nav {
  display: flex;
  padding: 12% 0 10% 0;
  background-image: url(secbg.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 15vw;

}
.navigation {
  width: 55%;
  display: flex;
  justify-content: center;
  border: 1px solid #031e39;
  border-width: thin;
  border-radius: 10px;
  height: 55%;
  margin: auto;
  padding: auto;
}

a{
 text-decoration: none;
}

button {
  display: flex;
  padding: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.item {
  width: 15%;
  height: 85%;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  border: 1px #031e39 solid;
  border-radius: 10px;
  margin: 5px;
  display: flex;
  background-color: transparent;
}

.item:hover,
.item:active {
  background-color: rgba(3, 148, 252, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgb(3, 148, 252);
  cursor: pointer;
}

.close-btn {
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: none;
  font-size: xx-large;
  float: right;
  margin-top: -180px;
  color: black;
}

.profilepopup {
  width: 600px;
  height: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  display: block;
  transform: scale(0.7);
  transition: transform 0.5s;
  visibility: hidden;
  position: absolute;
  margin: auto;
}

.open-profilepopup {
  transform: scale(0.5);
  visibility: visible;
  top: 50%;
  position: absolute;
}

.profilepopup i {
  width: 100px;
  height: 100px;
  margin: auto;
}

.profile-container {
  width: 530px;
  min-height: 300px;
  margin-left: -500px;
  padding: 16px;
  border-radius: 16px;
  overflow: hidden;
  background-color: rgba(254, 254, 254, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  font-size: xx-large;
}

footer{
  display: flex;
  justify-content: space-between;
  height: 1%;
  margin: 0;
  padding: 0 50px 0 100px;
  color: rgba(254, 254, 254, 0.642);
  font-style: oblique;
}


.flogo{
  height: 50px;
  padding-top: 1%;
}
#pb {
  color: #b2b2b2;
}

