#logo {
  width: 300px;
  height: 80px;
  margin-left: 20px;
}

.myheader {
  display: flex;
}

#emailbtn {
  float: right;
  height: 30px;
  width: 100px;
  margin-left: 850px;
  margin-top: 15px;
  border: none;
  box-shadow: none;
  border-radius: 5px;
  background-color: rgba(3, 148, 252, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: white;
}

#dlbtn {
  float: right;
  height: 30px;
  width: 100px;
  margin-left: 15px;
  margin-top: 15px;
  border: none;
  box-shadow: none;
  border-radius: 5px;
  background-color: rgba(3, 148, 252, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: white;
}

#dllogo {
  height: 10px;
  width: 10px;
}

body {
  background-color: #031e39;
  font-family: "Poppins", sans-serif;
  color: white;
  overflow-y: hidden;
}

#bg {
  width: 680px;
  height: 430px;
  border-radius: 25px;
  margin-left: 25%;
  margin-top: 30px;
}

#web {
  font-size: 8em;
  position: absolute;
  margin-top: -380px;
  margin-left: 500px;
  font-weight: bold;
  color: rgb(6, 124, 198);
  font-family: Arial, Helvetica, sans-serif;
}

#dev {
  font-size: 8em;
  position: absolute;
  margin-top: -230px;
  margin-left: 600px;
  font-weight: bold;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#bio {
  width: 300px;
  height: 150px;
  margin-top: 50px;
  margin-left: 75%;
  border-radius: 10px;
  position: absolute;
  color: #b2b2b2;
}

#year {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-left: 1080px;
  margin-top: -50px;
  color: rgb(255, 68, 0);
}

#me {
  height: 600px;
  margin-top: -390px;
  margin-left: -12px;
  position: absolute;
}

#sphere {
  border-radius: 100px;
  width: 200px;
  height: 200px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 250px;
  margin-top: 50px;
  position: absolute;
  background-color: rgba(3, 148, 252, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.navigation {
  width: 800px;
  display: flex;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.221);
  border-width: thin;
  border-radius: 10px;
  height: 110px;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

button {
  display: flex;
  color: white;
  padding: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.item {
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  border: 1px rgba(255, 255, 255, 0.221) solid;
  border-radius: 10px;
  margin: 5px;
  display: flex;
  background-color: transparent;
}

.item:hover,
.item:active {
  background-color: rgba(254, 254, 254, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.close-btn {
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: none;
  font-size: xx-large;
  float: right;
  margin-top: -180px;
  color: black;
}

.popup {
  width: 600px;
  height: 400px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  display: block;
  transform: scale(0.7);
  transition: transform 0.5s;
  visibility: hidden;
  position: absolute;
  margin: auto;
}

.open-popup {
  transform: scale(0.5);
  visibility: visible;
  top: 50%;
  position: absolute;
}

.popup i {
  width: 100px;
  height: 100px;
  margin: auto;
}
.stackpopup {
  width: 350px;
  height: 400px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: block;
  transform: scale(0);
  transition: ease-in 0.25s;
  visibility: hidden;
  position: absolute;
  margin-left: -500px;
}

.open-stackpopup {
  transform: scale(0.5);
  visibility: visible;
  top: 50%;
  position: absolute;
}

.accordion-container {
  min-width: 330px;
  padding: 16px;
  border-radius: 16px;
  overflow: hidden;
  background-color: rgba(254, 254, 254, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  font-size: xx-large;
}

.main-item {
  border-radius: 8px;
  padding: 12px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: start;
  gap: 8px;
  transition: all ease-in-out 0.25s;
  color: white;
}

.main-item--open {
  border-radius: 8px;
  background-color: white;
  transition: all 200ms;
  color: black;
}

.accordion-container > ul {
  max-height: 0px;
  list-style-type: none;
  margin: 0px;
  padding-left: 14px;
  opacity: 0;
}

.main-item--open + ul {
  visibility: visible;
  max-height: 380px;
  padding-left: 22px;
  opacity: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.accordion-container > ul > li {
  height: 45px;
  display: flex;
  width: 100%;
  align-items: center;
}

.line-vertical {
  display: block;
  background-color: white;
  width: 2px;
  height: 48px;
}

.accordion-container > ul > li:last-child > .line-vertical {
  height: 25px;
  align-self: flex-start;
}

.line-horizontal {
  display: block;
  background-color: white;
  height: 2px;
  min-width: 12px;
}

#pb {
  width: 300px;
  height: 150px;
  margin-top: 640px;
  margin-left: 82%;
  border-radius: 10px;
  position: absolute;
  color: #b2b2b2;
}
